a {
    text-decoration: none;
    color: green;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

nav {
    margin: 20px 0;
}

/* color-hex.com */
hr {
    border: 0.2px solid #DDD;
}

form {
    border: 1px solid black;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

form > input {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #6fa8dc;
    border-radius: 5px;
}

form > button {
    height: 30px;
    background-color: #6fa8dc;
    border: 1px solid white;
    width: 180px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

table > thead {
    background-color: #333;
    color: #FFF;
    height: 30px;
}

/* vai aplicar apenas numa linha sim outra nao */
table > tbody > tr:nth-child(even) {
    background-color: #EFEFEF;
} 

table > tbody > tr:hover {
    font-weight: bold;
}

button.btn-edit {
    border: 0;
    background-color: #ffd966;
}

button.btn-remove {
    border: 0;
    background-color: #990000;
    color: white;
}

button.btn-remove:hover, button.btn-edit:hover {
    transform: scale(0.9);
}






