html, body, section, div {
    height: 100%;
}

body {
    background-color: #EEE;
}

section {
    display: flex;
    width: 100%;
}

section > div {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    width: 50%;
}

div.lado-direito > aside {
    background-color: #FFF;  
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #999;
}

input {
    display: block;
    height: 35px;
    width: 97%;
    margin-bottom: 4px;
}

button {
    margin: auto;
    display: block;
    height: 35px;
}

a {
    display: block;
    text-align: center;
}
